[Unit]
Description=Node Exporter
After=network.target


[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter
KillMode=mixed


[Install]
WantedBy=default.target
